@page "/profile/guest"
@rendermode InteractiveServer
@using Oasis.State
@inject AppState AppState
@inject UserServices UserService
@inject UserState UserState
@inject ToastServices ToastService
@using Oasis.Data.Object
@using Oasis.Library
@using Oasis.Data.Models
@using Oasis.Components.ui

<div class="relative mx-auto h-screen w-screen overflow-hidden bg-[#F5F5F5] font-montserrat">
    <GuestNavbar />

    <div class="w-full h-9/10 flex justify-center">
        <div class="w-3/5 h-3/4 bg-white shadow z-1 rounded-lg flex flex-row">
            <div class="w-1/3 h-full flex flex-col pt-12 pl-20">
                <p class="text-2xl font-bold">Account Settings</p>
                <div class="h-50 aspect-square rounded-full  bg-cover bg-white border-2 border-gray-500 shadow-md" style="background-image: url(@(AppState.CurrentUser.user_gender?.ToLower() == "male" ? "male-guest.png" : "female-guest.png"))"></div>
                @if (editProfile)
                {
                    <button @onclick='()=>EditProfile("cancel")' class="h-10 text-center text-red-500 font-semibold cursor-pointer">Cancel</button>
                }
                else
                {
                    <button @onclick='()=>EditProfile("edit")' class="w-3/4 h-10 bg-[#2563EB] text-center rounded-lg text-white font-semibold cursor-pointer">Edit Profile</button>
                }
            </div>

            <div class="w-2/3 h-full flex flex-col pt-12">
                <p class="w-2/3 text-2xl font-bold">Basic Info</p>
                <div class="w-2/3 ">
                    <table class="w-full space-y-10">
                        <tr>
                            <td class="w-1/3 h-10">Firstname</td>
                            <td class="w-2/3 border-b-2 @(editProfile ? "opacity-100 border-gray-500" : "opacity-60 border-gray-400")">
                                <input class="pl-2 w-full focus:outline-none border-none "
                                @bind="currentUser.user_fname"
                                disabled="@(!editProfile)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/3 h-10">Lastname</td>
                            <td class="w-2/3 border-b border-b-2 @(editProfile ? "opacity-100 border-gray-500" : "opacity-60 border-gray-400")">
                                <input class="pl-2 w-full focus:outline-none border-none "
                                @bind="currentUser.user_lname"
                                disabled="@(!editProfile)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/3 h-10">Contact Number</td>
                            <td class="w-2/3 border-b border-b-2 @(editProfile ? "opacity-100 border-gray-500" : "opacity-60 border-gray-400")">
                                <input class="pl-2 w-full focus:outline-none border-none "
                                       @bind="currentUser.user_contactno"
                                       disabled="@(!editProfile)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/3  h-10 ">Date of Birth</td>
                            <td class="w-2/3 @(editProfile ? "opacity-100" : "opacity-60")">
                                <div class="@(editProfile ? "":"pointer-events-none")">

                                    <CustomDatePicker @bind-Value="currentUser.user_dob" class="w-full cursor-pointer" Id="1" IncludeIcon="false" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/3  h-10 ">Gender</td>
                            <td class="w-2/3 @(editProfile ? "opacity-100" : "opacity-60")">
                                <div class="@(editProfile ? "":"pointer-events-none")">

                                    <CustomSelect Options='new List<string>() { "Male", "Female" }' @bind-Value="currentUser.user_gender" class="w-full cursor-pointer" />
                                </div>
                            </td>
                        </tr>
                       
                    </table>
                </div>
                <p class="w-2/3 text-2xl font-bold mt-5">Account Info</p>
                <div class="w-2/3 ">
                    <table class="w-full ">
                        <tr class="h-12">
                            <td class="w-1/3 h-10">Email</td>
                            <td class="w-2/3 border-b-2 @(editProfile ? "opacity-100 border-gray-500" : "opacity-60 border-gray-400")">
                                <input class="pl-2 w-full focus:outline-none border-none "
                                @bind="currentUser.user_email"
                                disabled="@(!editProfile)" />
                            </td>
                        </tr>
                        <tr>
                            <td class="w-1/3  h-10 ">Password</td>
                            <td class="pl-2 w-full  flex h-10 border-b-2 @(editProfile ? "opacity-100 border-gray-500" : "opacity-60 border-gray-400")">
                                <input type="@(seePassword ? "text":"password")" class="w-full focus:outline-none border-none "
                                @bind="currentUser.user_password"
                                disabled="@(!editProfile)" />
                                @if (seePassword)
                                {
                                    <Icon onclick="ToggleVisibility" Name="visibility" Size="20px" Color="@(editProfile ? "black":"gray")" />
                                }
                                else
                                {
                                    <Icon onclick="ToggleVisibility" Name="visibility_off" Size="20px" Color="@(editProfile ? "black":"gray")" />
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                @if (editProfile)
                {
                    <div class="w-3/4 px-5">
                        <button @onclick="ConfirmUpdateProfile" class="w-1/4 h-10 bg-[#2563EB] mt-5 text-center rounded-lg text-white font-semibold cursor-pointer">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div style="clip-path: polygon(40% 100%, 100% 70%, 100% 100%)" class="w-full h-full bg-[#2563EB] z-0 fixed top-0"></div>
    <div style="clip-path: polygon(0 100%, 0 60%, 75% 100%)" class="w-full h-full bg-primary z-0 fixed top-0"></div>
</div>

@code {
    private bool editProfile = false;
    private User currentUser = new User();
    private User originalUser = new User();
    private bool seePassword = false;

    private void EditProfile(string action)
    {
        if (action == "cancel")
        {
            seePassword = false;
            currentUser = new User
                {
                    user_id = originalUser.user_id,
                    user_fname = originalUser.user_fname,
                    user_lname = originalUser.user_lname,
                    user_dob = originalUser.user_dob,
                    user_gender = originalUser.user_gender,
                    user_email = originalUser.user_email,
                    user_password = originalUser.user_password,
                    user_contactno = originalUser.user_contactno,
                    user_type = originalUser.user_type

                };
        }
        editProfile = !editProfile;
        StateHasChanged();
    }

    private void ToggleVisibility()
    {
        if (editProfile)
        {
            seePassword = !seePassword;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        currentUser = AppState.CurrentUser;
        originalUser = new User
            {
                user_id = AppState.CurrentUser.user_id,
                user_fname = AppState.CurrentUser.user_fname,
                user_lname = AppState.CurrentUser.user_lname,
                user_dob = AppState.CurrentUser.user_dob,
                user_gender = AppState.CurrentUser.user_gender,
                user_email = AppState.CurrentUser.user_email,
                user_password = AppState.CurrentUser.user_password,
                user_contactno = AppState.CurrentUser.user_contactno,
                user_type = AppState.CurrentUser.user_type
            };
    }
    public async Task ConfirmUpdateProfile()
    {
        if(await UserService.EmailExist(currentUser.user_email) && currentUser.user_email != originalUser.user_email)
        {
            return;
        }
        currentUser.user_fname = currentUser.user_fname?.Trim();
        currentUser.user_lname = currentUser.user_lname?.Trim();
        currentUser.user_email = currentUser.user_email?.Trim();
        await UserService.updateUser(currentUser);
        AppState.SetCurrentUser(currentUser);
        originalUser = currentUser;
        await UserState.SetCurrentUserAsync(currentUser);
        ToastService.ShowToast("Account Updated successfully!", ToastLevel.Success, "Update Success!");

        EditProfile("cancel");
    }
}